/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

.container {
    display: flex;
}

.container.large {
    max-width: 1200px;
}

.container.small {
    max-width: 1000px;
}

img {
    width: 100%;
    display: block;
}

.button {
    background-color: #0061fe;
    padding: 10px 16px;
    width: fit-content;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #ffffff;
}

.button.transparent {
    background-color: #ffffff;
    border: 1px solid #000000;
}

.button.transparent a {
    color: #000000;
}
/* HEADER */
header {
    background-color: #ffffff;
    justify-content: space-between;
    padding: 24px;
    box-shadow: 0 1px 3px 0px #999999;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    /* background-color: bisque; */
}

header ul {
    align-items: center;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

header ul li {
    padding: 10px 16px;
}

header #logo img {
    height: 25px;
}

/* MAIN */
main .jumbo {
    background-color: #b4d0e6;
}

main .container {
    margin: 0 auto;
}

main .large {
    flex-wrap: wrap;
}

main .large h1 {
    font-size: 75px;
}

main .text {
    max-width: 400px;
}

main .image {
    max-width: calc(100% - 400px);
}

main .main-info .container.small {
    flex-direction: column;
}
main .grid {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    flex-grow: 1;
    margin-bottom: 220px;
}

main .grid h2 {
    width: 100%;
}

main .grid .fatturazione {
    width: 100%;
}

main .grid .fatturazione div {
    display: inline-block;
}

main .grid .card {
    /* background-color: bisque ; */
    width: calc(100% / 3 - 50px);
    /* height: 200px; */
}

main .grid > * {
    margin: 25px;
    flex-shrink: 0;
}

main .grid .card.full-row {
    flex-grow: 1;
}

main .grid .card.bordered {
    border: 1px solid #d0cfd4;
}

main .grid .card.bordered .titolo {
    border-bottom: 1px solid #d0cfd4;
    text-align: center;
    padding: 13px;
    margin-bottom: 35px;
}

main .grid .card.bordered .tariffa {
    padding: 0 30px;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

main .grid .card.bordered .tariffa ul {
    margin: 50px 0;
    list-style-type: none;
    margin-left: -6px;
}

main .grid .card.bordered .tariffa ul li {
    margin-bottom: 25px;
    font-size: 16px;
    display: flex;
}

main .grid .card.bordered .tariffa ul li div:first-child {
    margin-right: 5px;
}

main .grid .card.bordered .tariffa ul li .check {
    color: #0061fe;
}

main .grid .card.bordered .button {
    width: 100%;
    margin-bottom: 30px;
}

main .grid .card.bordered h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

main .grid .card.bordered h5 {
    margin-bottom: -15px;
    font-size: 14px;
}

main .grid .card.bordered .price {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: bold;
}

main .grid .card.bordered .rata {
    color: #d0cfd4;
    font-size: 14px;
}

main .grid .card.bordered .separatore {
    margin-top: 40px;
    margin-bottom: 50px;
    width: 45px;
    border-top: 1px solid #d0cfd4;
}

main .grid .card.full-row .tariffa {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
    gap: 100px;
}

main .grid .card.full-row .tariffa .description {
    flex-grow: 2;
}

main .grid .card.full-row .tariffa .button {
    height: fit-content;
    max-width: 240px;
}
/* FOOTER */
footer {
    background-color: #000000;
}

footer .container.large {
    margin: 0 auto;
    flex-wrap: wrap;
}

footer div * {
    color: #ffffff;
}

footer .container.lists {
    width: 100%;
    justify-content: space-between;
    padding: 100px 0px;
}

footer .container.lists div * {
    padding: 10px 0;
    list-style-type: none;
}

footer .lists h6 {
    font-size: 25px;
}

footer .lists ul li a {
    text-decoration: none;
    font-size: 18px;
}

footer .language {
    padding: 50px 25px 50px 0;
    color: #999999;
    border-top: 1px solid #ffffff;
}

footer .language i {
    color: #999999;
}