/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: sans-serif;
}

.container {
    display: flex;
}

.container.large {
    max-width: 1200px;
}

.container.small {
    max-width: 1000px;
}

img {
    width: 100%;
}

/* HEADER */
header {
    justify-content: space-between;
    padding: 24px;

    background-color: bisque;
}

header ul {
    align-items: center;
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: black;
}

header ul li {
    padding: 10px 16px;
}

header #logo img {
    height: 25px;
}

/* MAIN */
main .jumbo {
    background-color: #b4d0e6;
}

main .container {
    margin: 0 auto;
}

main .large {
    flex-wrap: wrap;
}

main .large h1 {
    /* flex-grow: 1; */
    font-size: 75px;
}

main .large .text {
    max-width: 400px;
}

main .large .image {
    max-width: calc(100% - 400px);
}

main .main-info .container.small {
    flex-direction: column;
}
main .grid {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    flex-grow: 1;
}

main .grid h2 {
    width: 100%;
}

main .grid .fatturazione {
    width: 100%;
}

main .grid .fatturazione div {
    display: inline-block;
}

main .grid .card {
    background-color: darkolivegreen;
    width: calc(100% / 3 - 50px);
}

main .grid > * {
    margin: 25px;
    flex-shrink: 0;
}

main .grid .card.full-row {
    flex-grow: 1;
}

/* FOOTER */
footer {
    background-color: #000000;
}

footer .container.large {
    margin: 0 auto;
}

footer div {
    color: #ffffff;
}